/* Estilo general del cuerpo */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    text-align: center;
}

/* Contenedor principal */
.container {
    max-width: 500px;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px auto;
    padding: 19px 0 15px; /* Top y Bottom padding */
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para grupos de formulario */
.form-group {
    margin-bottom: 15px;
}

label {
    display: flex;
    margin-bottom: 5px;
}

/* Estilos comunes para inputs y selects */
select, input {
    width: 100%;
    padding: 8px;
    border-radius: 10px;
    box-sizing: border-box;
}

/* Botón principal */
button {
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #218838; /* Color más oscuro para el hover */
}

/* Listas y botones adicionales */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#resetForm {
    display: none;
    margin-top: 10px;
    background-color: #d91600;
    width: 100%;
}

/* Estilos específicos para empanadas */
.empanada-group {
    display: flex;
    align-items: center;
    margin: 20px;
}

.empanada-label {
    margin-bottom: 10px;
    font-weight: bold;
}

.empanada-checkbox {
    margin-bottom: 5px;
}

.empanada-checkbox.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

/* Contenedor de ingredientes */
#ingredientsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

/* Estilo del botón de admin */
.admin-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.admin-button:hover {
    background-color: #0056b3;
}

/* Estilo del encabezado */
h1, h2 {
    text-align: center;
    color: #333;
}

h2 {
    color: #555;
}

/* Estilos para tablas */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 10px 15px; /* Usamos un padding consistente */
    text-align: left;
    border: 1px solid #ddd;
}

/* Estilos para encabezados de tabla */
th {
    background-color: #007BFF;
    color: #fff;
}

/* Estilo para filas alternas y hover */
tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #f1f1f1;
}

/* Estilo de mensaje si no hay pedidos */
td[colspan="9"] {
    text-align: center;
    color: #666;
    font-style: italic;
}

/* Botones en contenedor */
.button-container {
    margin: 20px 0;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #0056b3;
}

/* Estilos de enlaces */
a {
    display: block;
    margin-top: 20px;
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
