body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}


.container {
    max-width: 500px;
    width: 100%;
    height: auto;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 15px auto;
    padding-bottom: 19px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: flex;
    margin-bottom: 5px;
}

select, input {
    width: 100%;
    padding: 8px;
    border-radius: 10px;
    box-sizing: border-box;
}

button {
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
}

ul {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}

#resetForm {
    display: none;
    margin-top: 10px;
    background-color: #d91600;
    width: 100%;    
}
    
.empanada-group{
    display:flex;
    align-items: center;
    margin: 20px;
}

.empanada-label {
    margin-bottom: 10px; /* Espacio debajo de la etiqueta */
    font-weight: bold;
}

/* Estilo de los checkboxes */
.empanada-checkbox {
    margin-bottom: 5px; /* Espacio entre los checkboxes */
}

.empanada-checkbox.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

#ingredientsContainer {
    display: flex;
    flex-wrap: wrap; /* Permitir que los elementos se ajusten en varias filas */
    gap: 40px; /* Espacio entre los ingredientes */
}


.admin-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF; /* Color de fondo azul */
    color: white; /* Color del texto */
    text-decoration: none; /* Sin subrayado */
    border-radius: 5px; /* Bordes redondeados */
    margin-top: 20px; /* Espacio arriba */
}

.admin-button:hover {
    background-color: #0056b3; /* Color más oscuro al pasar el ratón */
}



/* Estilo del encabezado */
h1 {
    text-align: center;
    color: #333;
}

/* Estilo de la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Estilo de las celdas de la tabla */
th, td {
    padding: 12px 15px;
    text-align: left;
    border: 1px solid #ddd;
}

/* Estilo de los encabezados de la tabla */
th {
    background-color: #007BFF; /* Color de fondo azul */
    color: #fff; /* Color de texto blanco */
}

/* Estilo para filas alternas */
tbody tr:nth-child(even) {
    background-color: #f9f9f9; /* Color de fondo gris claro */
}

/* Estilo para filas en hover */
tbody tr:hover {
    background-color: #f1f1f1; /* Color de fondo gris más oscuro */
}

/* Estilo de mensaje si no hay pedidos */
td[colspan="9"] {
    text-align: center;
    color: #666; /* Color de texto gris */
    font-style: italic; /* Cursiva */
}
