<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Panel de Administración</title>
    <link rel="stylesheet" href="/styles.css" />
    <!-- Asegúrate de que la ruta al CSS sea correcta -->
  </head>
  <body>
    <h1>Bienvenido al Panel de Administración</h1>

    <h2>Panel de Administrador</h2>

    <div class="button-container">
      <a href="/pedido" class="button">Hacer un pedido</a>
      <a href="/api/usuarios/listar" class="button">ABM</a>
      <a href="/api/pedidos/buscar" class="button">Buscar Pedidos</a>
      <!-- Cambia esta línea -->
    </div>

    <a href="/api/logout">Cerrar Sesión</a>

    <style></style>
  </body>
</html>
