<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar Pedidos por Fecha</title>
    <link rel="stylesheet" href="/styles.css"> <!-- Asegúrate de que la ruta al CSS sea correcta -->
</head>
<body>
    <%- include('./partial/header.ejs') %> <!-- Incluir el logo aquí -->

    <h1>Buscar Pedidos por Fecha</h1>
    <form action="/admin/pedidos/porFecha" method="get">
        <input type="date" name="fecha" required>
        <button type="submit">Buscar</button>
    </form>
    <a href="/admin" class="admin-button">Volver al panel de Administracion</a> 
    <a href="/api/logout" class="cerrarSesion">Cerrar Sesión</a>

</body>
</html>
